// Import
// Poppins
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
// Source Sans 3
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400;600&display=swap');
// Merriweather
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 0;
}

:root {
  --emerald-800: #005C46;
  --emerald-600: #008264;
  --emerald-400: #00A881;
  --emerald-200: #3fbea0;
  --emerald-100: #71f6a2;

  --gray-800: #353636;
  --gray-600: #6B6B6B;
  --gray-400: #999999;
  --gray-200: #cccccc;
  --gray-100: #e8e8e8;

  --contrast: gold;

  --font-title:   'Poppins';
  --font-header:  'Source Sans 3';
  --font-p:       'Merriweather';
  
}

p {
  font-family: var(--font-p);
}

// Globals
.marginBottom40px {
  margin-bottom: 40px;
}